@import '../../main.scss';

.home {
    &__where {
        @include  font16;
        cursor: pointer;
        transition: font-size 0.2s ease;
        &:hover {
            font-size: 20px;
        }
    }
   
    
}