


.home {
    position: relative;
    height: 100vh;
    &__burger {
        display: none;
        position: absolute;
        right: 0;
        width: 100px;
        height: 300px;
        @media (max-width:576px) {
           display: block;
        }
    }
    &__navleft {
        position:absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(90deg);
    }
    &__navright {
        position:absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(90deg);
    }
    &__navbot {
        position:absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__navcomp {
        @media (max-width:576px) {
           display: none;
        }
    }
}