@import '../../main.scss';


.home-imgS-box {
    position: relative;
    &__imgS {
        width: 100%;
    }
    &__butt {
        cursor: pointer;
        position: absolute;
        z-index: 4;
        right: 19%;
        bottom: 13%;
        @media (max-width:1300px) {
            right: 15%;
            bottom: 12%;
        }
        @media (max-width:1024px) {
            right: 13%;
            bottom: 9%;
        }
        @media (max-width:992px) {
            right: 15%;
            bottom: 5%;
        }
        @media (max-width:768px) {
            right: 19%;
            bottom: 7%;
        }
        @media (max-width:460px) {
            right: 14%;
            bottom: 3%;
        }
        @media (max-width:375px) {
            right: 13%;
            bottom: -2%;
        }
        &:hover {
            -webkit-animation-name: rotation;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: rotation;
            -moz-animation-duration: 2s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            -o-animation-name: rotation;
            -o-animation-duration: 2s;
            -o-animation-iteration-count: infinite;
            -o-animation-timing-function: linear;
            animation-name: rotation;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @-webkit-keyframes rotation {
            0% {-webkit-transform:rotate(0deg);
                -moz-transform:rotate(0deg);
                -o-transform:rotate(0deg);
                transform:rotate(0deg);}
            100% {-webkit-transform:rotate(-360deg);
                -moz-transform:rotate(-360deg);
                -o-transform:rotate(-360deg);
                transform:rotate(-360deg);}
        }
        @-moz-keyframes rotation {
            0% {-webkit-transform:rotate(0deg);
                -moz-transform:rotate(0deg);
                -o-transform:rotate(0deg);
                transform:rotate(0deg);}
            100% {-webkit-transform:rotate(-360deg);
                -moz-transform:rotate(-360deg);
                -o-transform:rotate(-360deg);
                transform:rotate(-360deg);}
        }
        @-o-keyframes rotation {
            0% {-webkit-transform:rotate(0deg);
                -moz-transform:rotate(0deg);
                -o-transform:rotate(0deg);
                transform:rotate(0deg);}
            100% {-webkit-transform:rotate(-360deg);
                -moz-transform:rotate(-360deg);
                -o-transform:rotate(-360deg);
                transform:rotate(-360deg);}
        }
        @keyframes rotation {
            0% {-webkit-transform:rotate(0deg);
                -moz-transform:rotate(0deg);
                -o-transform:rotate(0deg);
                transform:rotate(0deg);}
            100% {-webkit-transform:rotate(-360deg);
                -moz-transform:rotate(-720deg);
                -o-transform:rotate(-360deg);
                transform:rotate(-360deg);}
        }	

    }
}