.page{
    position: relative;
    &__test {
        font-size: 30px;
    }
    &__burger {
    
        position: absolute;
        right: 0;
        top:0;
        width: 100px;
        height: 300px;
        
    }
}